# Code owners for this repository.
#
# These owners are automatically requested for review on pull requests
# that modify matching files. The last matching pattern takes precedence.
#
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repository.
* @ioxie
